openapi: 3.0.0
info:
  contact:
    name: IBM
  description: Manage lifecycle of your Cloud resources using Resource Controller
    APIs. Resources are provisioned globally in an account scope. Supports asynchronous
    provisioning of resources. Enables consumption of a global resource through a
    Cloud Foundry space in any region.
  title: IBM Cloud Resource Controller API
  version: "2.0"
  x-alternate-name: resource_controller
servers:
- description: Production
  url: https://resource-controller.cloud.ibm.com/v2
security:
- IAM: []
tags:
- description: Resource Instances
  name: Resource Instances
- description: Resource Keys
  name: Resource Keys
- description: Resource Bindings
  name: Resource Bindings
- description: Resource Aliases
  name: Resource Aliases
paths:
  /resource_aliases:
    get:
      description: Get a list of all resource aliases.
      operationId: list_resource_aliases
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: Short ID of the alias.
        explode: true
        in: query
        name: guid
        required: false
        schema:
          type: string
        style: form
      - description: The human-readable name of the alias.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Resource instance short ID.
        explode: true
        in: query
        name: resource_instance_id
        required: false
        schema:
          type: string
        style: form
      - description: Short ID of the instance in a specific targeted environment.
          For example, `service_instance_id` in a given IBM Cloud environment.
        explode: true
        in: query
        name: region_instance_id
        required: false
        schema:
          type: string
        style: form
      - description: The unique ID of the offering (service name). This value is provided
          by and stored in the global catalog.
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          type: string
        style: form
      - description: Short ID of Resource group.
        explode: true
        in: query
        name: resource_group_id
        required: false
        schema:
          type: string
        style: form
      - description: Limit on how many items should be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                rows_count: 1
                next_url: /v2/resource_aliases?next_docid=g2wAAAABaANkACNkYmNvcmVAZGIyMy5pYm0tYnNzMDAxLmNsb3VkYW50Lm5ldGwAAAACbgQAAAAA4G4EAP____9qbAAAAAJGQnZ4Bfh4oABiAAARN2pq&limit=1&account_id=d86af7367f70fba4f306d3c19c7344b2
                resources:
                - id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                  guid: 267bf377-7fa2-43f6-94ec-09103a8e89d4
                  url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
                  created_at: 2018-04-19T00:21:02.735586861Z
                  updated_at: 2018-04-26T18:05:58.851303427Z
                  deleted_at: null
                  name: my-instance-alias-1
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  target_crn: crn:v1:bluemix:public:bluemix:eu-gb:o/e242c7f0-9eb7-4541-ad3e-b5f5a45a1498::cf-space:f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e
                  account_id: 4329073d16d2f3663f74bfa955259139
                  resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                  resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                  crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                  region_instance_id: 3ea43c9c-c987-481e-9fff-283dcec927a3
                  region_instance_crn: 'crn:v1:bluemix:public:cloud-object-storage:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e:3ea43c9c-c987-481e-9fff-283dcec927a3:cf-service-instance:'
                  state: active
                  migrated: false
                  resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                  resource_bindings_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_bindings
                  resource_keys_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_keys
              schema:
                $ref: '#/components/schemas/ResourceAliasesList'
          description: The list of aliases was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a list of all resource aliases
      tags:
      - Resource Aliases
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_aliases \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    post:
      description: Alias a resource instance into a targeted environment's (name)space.
      operationId: create_resource_alias
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceAliasPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                guid: 267bf377-7fa2-43f6-94ec-09103a8e89d4
                url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
                created_at: 2018-04-19T00:21:02.735586861Z
                updated_at: 2018-04-26T18:05:58.851303427Z
                deleted_at: null
                name: my-instance-alias-1
                resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:o/e242c7f0-9eb7-4541-ad3e-b5f5a45a1498::cf-space:f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                region_instance_id: 3ea43c9c-c987-481e-9fff-283dcec927a3
                region_instance_crn: 'crn:v1:bluemix:public:cloud-object-storage:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e:3ea43c9c-c987-481e-9fff-283dcec927a3:cf-service-instance:'
                state: active
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_bindings_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_bindings
                resource_keys_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_keys
              schema:
                $ref: '#/components/schemas/ResourceAlias'
          description: Alias has been created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Create a new resource alias
      tags:
      - Resource Aliases
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X POST \
                  https://resource-controller.cloud.ibm.com/v2/resource_aliases \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
                  -H 'Content-Type: application/json' \
                    -d '{
                    "name": "my-instance-alias-1",
                    "source": "8d7af921-b136-4078-9666-081bd8470d94",
                    "target": "crn:v1:bluemix:public:bluemix:eu-gb:o/e242c7f0-9eb7-4541-ad3e-b5f5a45a1498::cf-space:f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e"
                  }'
  /resource_aliases/{id}:
    delete:
      description: Delete a resource alias by ID.
      operationId: delete_resource_alias
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the alias.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted alias.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could was previously deleted and is no longer
            available.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Delete a resource alias
      tags:
      - Resource Aliases
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X DELETE \
                  https://resource-controller.cloud.ibm.com/v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4 \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    get:
      description: Retrieve a resource alias by ID.
      operationId: get_resource_alias
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the alias.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                guid: 267bf377-7fa2-43f6-94ec-09103a8e89d4
                url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
                created_at: 2018-04-19T00:21:02.735586861Z
                updated_at: 2018-04-26T18:05:58.851303427Z
                deleted_at: null
                name: my-instance-alias-1
                resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:o/e242c7f0-9eb7-4541-ad3e-b5f5a45a1498::cf-space:f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                region_instance_id: 3ea43c9c-c987-481e-9fff-283dcec927a3
                region_instance_crn: 'crn:v1:bluemix:public:cloud-object-storage:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e:3ea43c9c-c987-481e-9fff-283dcec927a3:cf-service-instance:'
                state: active
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_bindings_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_bindings
                resource_keys_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_keys
              schema:
                $ref: '#/components/schemas/ResourceAlias'
          description: The alias was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a resource alias
      tags:
      - Resource Aliases
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4 \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    patch:
      description: Update a resource alias by ID.
      operationId: update_resource_alias
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the alias.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceAliasPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                guid: 267bf377-7fa2-43f6-94ec-09103a8e89d4
                url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
                created_at: 2018-04-19T00:21:02.735586861Z
                updated_at: 2018-04-26T18:05:58.851303427Z
                deleted_at: null
                name: my-instance-new-alias-1
                resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:o/e242c7f0-9eb7-4541-ad3e-b5f5a45a1498::cf-space:f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                region_instance_id: 3ea43c9c-c987-481e-9fff-283dcec927a3
                region_instance_crn: 'crn:v1:bluemix:public:cloud-object-storage:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e:3ea43c9c-c987-481e-9fff-283dcec927a3:cf-service-instance:'
                state: active
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_bindings_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_bindings
                resource_keys_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4/resource_keys
              schema:
                $ref: '#/components/schemas/ResourceAlias'
          description: Successfully updated alias.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be processed.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Update a resource alias
      tags:
      - Resource Aliases
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X PATCH \
                  https://resource-controller.cloud.ibm.com/v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4 \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
                  -H 'Content-Type: application/json' \
                    -d '{
                    "name": "my-instance-new-alias-1"
                  }'
  /resource_bindings:
    get:
      description: Get a list of all resource bindings.
      operationId: list_resource_bindings
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short ID of the binding.
        explode: true
        in: query
        name: guid
        required: false
        schema:
          type: string
        style: form
      - description: The human-readable name of the binding.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Short ID of the resource group.
        explode: true
        in: query
        name: resource_group_id
        required: false
        schema:
          type: string
        style: form
      - description: The unique ID of the offering (service name). This value is provided
          by and stored in the global catalog.
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          type: string
        style: form
      - description: Short ID of the binding in the specific targeted environment,
          e.g. service_binding_id in a given IBM Cloud environment.
        explode: true
        in: query
        name: region_binding_id
        required: false
        schema:
          type: string
        style: form
      - description: Limit on how many items should be returned
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                rows_count: 1
                next_url: null
                resources:
                - id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                  guid: 25b88996-c117-484a-a233-0db73e9177fa
                  url: /v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa
                  created_at: 2018-09-24T15:26:06.849531355Z
                  updated_at: 2018-09-24T15:26:06.849531355Z
                  deleted_at: null
                  source_crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                  target_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-application:b04ddee1-2838-449a-96d3-02a03179e991
                  parameters:
                    role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                  region_binding_id: 684e7a0a-074f-4f97-ba5b-c0f57419fd84
                  region_binding_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-service-binding:684e7a0a-074f-4f97-ba5b-c0f57419fd84
                  account_id: 4329073d16d2f3663f74bfa955259139
                  resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                  state: active
                  credentials:
                    apikey: XXX-YYY-ZZZ
                    endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                    iam_apikey_description: 'Auto generated apikey during resource-bind
                      operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                    iam_apikey_name: auto-generated-apikey-25b88996-c117-484a-a233-0db73e9177fa
                    iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                    iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-512311d5-ec96-42ea-92f4-efe5b29f7a71
                    resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_compatible: true
                  resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                  migrated: false
                  resource_alias_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
              schema:
                $ref: '#/components/schemas/ResourceBindingsList'
          description: The list of resource bindings was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a list of all resource bindings
      tags:
      - Resource Bindings
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                https://resource-controller.cloud.ibm.com/v2/resource_bindings \
                -H 'Authorization: Bearer <IAM_TOKEN>'
    post:
      description: Create a new resource binding.
      operationId: create_resource_binding
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceBindingPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                guid: 25b88996-c117-484a-a233-0db73e9177fa
                url: /v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa
                created_at: 2018-09-24T15:26:06.849531355Z
                updated_at: 2018-09-24T15:26:06.849531355Z
                deleted_at: null
                source_crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-application:b04ddee1-2838-449a-96d3-02a03179e991
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                region_binding_id: 684e7a0a-074f-4f97-ba5b-c0f57419fd84
                region_binding_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-service-binding:684e7a0a-074f-4f97-ba5b-c0f57419fd84
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                state: active
                credentials:
                  apikey: XXX-YYY-ZZZ
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-bind
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-25b88996-c117-484a-a233-0db73e9177fa
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-512311d5-ec96-42ea-92f4-efe5b29f7a71
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                migrated: false
                resource_alias_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
              schema:
                $ref: '#/components/schemas/ResourceBinding'
          description: Resource binding has been created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Create a new resource binding
      tags:
      - Resource Bindings
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X POST \
                  https://resource-controller.cloud.ibm.com/v2/resource_bindings \
                  -H 'Authorization: Bearer <>' \
                  -H 'Content-Type: application/json' \
                    -d '{
                    "name": "my-instance-binding-1",
                    "source": "8d7af921-b136-4078-9666-081bd8470d94",
                    "target": "crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-application:b04ddee1-2838-449a-96d3-02a03179e991",
                    "role": "Writer"
                  }'
  /resource_bindings/{id}:
    delete:
      description: Delete a resource binding by ID
      operationId: delete_resource_binding
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the binding.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted binding.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could was previously deleted and is no longer
            available.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Delete a resource binding
      tags:
      - Resource Bindings
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X DELETE \
                https://resource-controller.cloud.ibm.com/v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa \
                -H 'Authorization: Bearer <IAM_TOKEN>'
    get:
      description: Retrieve a resource binding by ID.
      operationId: get_resource_binding
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the binding.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                guid: 25b88996-c117-484a-a233-0db73e9177fa
                url: /v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa
                created_at: 2018-09-24T15:26:06.849531355Z
                updated_at: 2018-09-24T15:26:06.849531355Z
                deleted_at: null
                source_crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-application:b04ddee1-2838-449a-96d3-02a03179e991
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                region_binding_id: 684e7a0a-074f-4f97-ba5b-c0f57419fd84
                region_binding_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-service-binding:684e7a0a-074f-4f97-ba5b-c0f57419fd84
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                state: active
                credentials:
                  apikey: XXX-YYY-ZZZ
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-bind
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-25b88996-c117-484a-a233-0db73e9177fa
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-512311d5-ec96-42ea-92f4-efe5b29f7a71
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                migrated: false
                resource_alias_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
              schema:
                $ref: '#/components/schemas/ResourceBinding'
          description: The resource binding was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a resource binding
      tags:
      - Resource Bindings
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                https://resource-controller.cloud.ibm.com/v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa \
                -H 'Authorization: Bearer <IAM_TOKEN>'
    patch:
      description: Update a resource binding by ID.
      operationId: update_resource_binding
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the binding.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceBindingPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                guid: 25b88996-c117-484a-a233-0db73e9177fa
                url: /v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa
                created_at: 2018-09-24T15:26:06.849531355Z
                updated_at: 2018-09-24T15:26:06.849531355Z
                deleted_at: null
                source_crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-alias:267bf377-7fa2-43f6-94ec-09103a8e89d4
                target_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-application:b04ddee1-2838-449a-96d3-02a03179e991
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:eu-gb:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-binding:25b88996-c117-484a-a233-0db73e9177fa
                region_binding_id: 684e7a0a-074f-4f97-ba5b-c0f57419fd84
                region_binding_crn: crn:v1:bluemix:public:bluemix:eu-gb:s/f5038ca8-9d28-42a1-9e57-9b9fdd66bf8e::cf-service-binding:684e7a0a-074f-4f97-ba5b-c0f57419fd84
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                state: active
                credentials:
                  apikey: XXX-YYY-ZZZ
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-bind
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-25b88996-c117-484a-a233-0db73e9177fa
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-512311d5-ec96-42ea-92f4-efe5b29f7a71
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                migrated: false
                resource_alias_url: /v2/resource_aliases/267bf377-7fa2-43f6-94ec-09103a8e89d4
              schema:
                $ref: '#/components/schemas/ResourceBinding'
          description: Successfully updated alias.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be processed.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Update a resource binding
      tags:
      - Resource Bindings
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                https://resource-controller.cloud.ibm.com/v2/resource_bindings/25b88996-c117-484a-a233-0db73e9177fa \
                -H 'Authorization: Bearer <IAM_TOKEN>'
                  -H 'Content-Type: application/json' \
                  -d '{
                  "name": "my-instance-new-binding-1"
                  }'
  /resource_instances:
    get:
      description: Get a list of all resource instances.
      operationId: list_resource_instances
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: When you provision a new resource in the specified location for
          the selected plan, a GUID (globally unique identifier) is created. This
          is a unique internal GUID managed by Resource controller that corresponds
          to the instance.
        explode: true
        in: query
        name: guid
        required: false
        schema:
          type: string
        style: form
      - description: The human-readable name of the instance.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Short ID of a resource group.
        explode: true
        in: query
        name: resource_group_id
        required: false
        schema:
          type: string
        style: form
      - description: The unique ID of the offering. This value is provided by and
          stored in the global catalog.
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          type: string
        style: form
      - description: The unique ID of the plan associated with the offering. This
          value is provided by and stored in the global catalog.
        explode: true
        in: query
        name: resource_plan_id
        required: false
        schema:
          type: string
        style: form
      - description: The type of the instance. For example, `service_instance`.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: The sub-type of instance, e.g. `cfaas`.
        explode: true
        in: query
        name: sub_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit on how many items should be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                rows_count: 1
                next_url: /v2/resource_instances?next_docid=g1AAAACkeJzLYWBgYMpgTmFQSklKzi9KdUhJMtTLTMrVTSouNjAw1EvOyS9NScwr0ctLLckBqc1jAZIMC4DU____92eBxdycyiQ6O2sOMCQxMLHnZKEaZ0qEcQ8gxv2HG-fo9M_-Asg4-TVZWQCZcDI1&limit=2&account_id=d86af7367f70fba4f306d3c19c7344b2
                resources:
                - id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  guid: 8d7af921-b136-4078-9666-081bd8470d94
                  url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                  created_at: 2018-04-19T00:18:53.302077457Z
                  updated_at: 2018-04-19T00:18:53.302077457Z
                  deleted_at: null
                  name: my-instance
                  region_id: global
                  account_id: 4329073d16d2f3663f74bfa955259139
                  resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                  resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                  resource_group_crn: crn:v1:bluemix:public:resource-controller::a/4329073d16d2f3663f74bfa955259139::resource-group:0be5ad401ae913d8ff665d92680664ed
                  target_crn: crn:v1:bluemix:public:resource-catalog::a/9e16d1fed8aa7e1bd73e7a9d23434a5a::deployment:2fdf0c08-2d32-4f46-84b5-32e0c92fffd8%3Aglobal
                  crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  state: active
                  type: service_instance
                  resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                  dashboard_url: /objectstorage/crn%3Av1%3Abluemix%3Apublic%3Acloud-object-storage%3Aglobal%3Aa%2F4329073d16d2f3663f74bfa955259139%3A8d7af921-b136-4078-9666-081bd8470d94%3A%3A
                  last_operation: null
                  resource_aliases_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_aliases
                  resource_bindings_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_bindings
                  resource_keys_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_keys
                  plan_history:
                  - resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                    start_date: 2018-04-19T00:18:53.302077457Z
                  migrated: false
                  controlled_by: ""
              schema:
                $ref: '#/components/schemas/ResourceInstancesList'
          description: The list of resource instances was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a list of all resource instances
      tags:
      - Resource Instances
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_instances \
                  -H 'Authorization: Bearer <>' \
    post:
      description: Provision a new resource in the specified location for the selected
        plan.
      operationId: create_resource_instance
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInstancePost'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                guid: 8d7af921-b136-4078-9666-081bd8470d94
                url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                created_at: 2018-04-19T00:18:53.302077457Z
                updated_at: 2018-04-19T00:18:53.302077457Z
                deleted_at: null
                name: my-instance
                region_id: global
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_group_crn: crn:v1:bluemix:public:resource-controller::a/4329073d16d2f3663f74bfa955259139::resource-group:0be5ad401ae913d8ff665d92680664ed
                target_crn: crn:v1:bluemix:public:resource-catalog::a/9e16d1fed8aa7e1bd73e7a9d23434a5a::deployment:2fdf0c08-2d32-4f46-84b5-32e0c92fffd8%3Aglobal
                crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                state: active
                type: service_instance
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                dashboard_url: /objectstorage/crn%3Av1%3Abluemix%3Apublic%3Acloud-object-storage%3Aglobal%3Aa%2F4329073d16d2f3663f74bfa955259139%3A8d7af921-b136-4078-9666-081bd8470d94%3A%3A
                last_operation: null
                resource_aliases_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_aliases
                resource_bindings_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_bindings
                resource_keys_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_keys
                plan_history:
                - resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                  start_date: 2018-04-19T00:18:53.302077457Z
                migrated: false
                controlled_by: ""
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: The resource instance was provisioned.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: Request to provision a resource has been accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Create (provision) a new resource instance
      tags:
      - Resource Instances
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X POST \
                  https://resource-controller.cloud.ibm.com/v2/resource_instances \
                  -H 'Authorization: Bearer <>' \
                  -H 'Content-Type: application/json' \
                    -d '{
                    "name": "my-instance",
                    "target": "bluemix-global",
                    "resource_group": "5g9f447903254bb58972a2f3f5a4c711",
                    "resource_plan_id": "0be5ad401ae913d8ff665d92680664ed",
                    "tags": [
                      "my-tag"
                    ]
                  }'
  /resource_instances/{id}:
    delete:
      description: Delete a resource instance by ID.
      operationId: delete_resource_instance
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the instance.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: Accepted
        "204":
          description: Deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could was previously deleted and is no longer
            available.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Delete a resource instance
      tags:
      - Resource Instances
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X DELETE \
                  https://resource-controller.cloud.ibm.com/v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94 \
                  -H 'Authorization: Bearer <>' \
    get:
      description: Retrieve a resource instance by ID.
      operationId: get_resource_instance
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the instance.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                guid: 8d7af921-b136-4078-9666-081bd8470d94
                url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                created_at: 2018-04-19T00:18:53.302077457Z
                updated_at: 2018-04-19T00:18:53.302077457Z
                deleted_at: null
                name: my-instance
                region_id: global
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_group_crn: crn:v1:bluemix:public:resource-controller::a/4329073d16d2f3663f74bfa955259139::resource-group:0be5ad401ae913d8ff665d92680664ed
                target_crn: crn:v1:bluemix:public:resource-catalog::a/9e16d1fed8aa7e1bd73e7a9d23434a5a::deployment:2fdf0c08-2d32-4f46-84b5-32e0c92fffd8%3Aglobal
                crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                state: active
                type: service_instance
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                dashboard_url: /objectstorage/crn%3Av1%3Abluemix%3Apublic%3Acloud-object-storage%3Aglobal%3Aa%2F4329073d16d2f3663f74bfa955259139%3A8d7af921-b136-4078-9666-081bd8470d94%3A%3A
                last_operation: null
                resource_aliases_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_aliases
                resource_bindings_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_bindings
                resource_keys_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_keys
                plan_history:
                - resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                  start_date: 2018-04-19T00:18:53.302077457Z
                migrated: false
                controlled_by: ""
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: The resource instance was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a resource instance
      tags:
      - Resource Instances
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94 \
                  -H 'Authorization: Bearer <>' \
    patch:
      description: Update a resource instance by ID.
      operationId: update_resource_instance
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the instance.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInstancePatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: The requested changes have been applied
        "202":
          content:
            application/json:
              example:
                id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                guid: 8d7af921-b136-4078-9666-081bd8470d94
                url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                created_at: 2018-04-19T00:18:53.302077457Z
                updated_at: 2018-04-19T00:18:53.302077457Z
                deleted_at: null
                name: my-instance
                region_id: global
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_plan_id: 744bfc56-d12c-4866-88d5-dac9139e0e5d
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_group_crn: crn:v1:bluemix:public:resource-controller::a/4329073d16d2f3663f74bfa955259139::resource-group:0be5ad401ae913d8ff665d92680664ed
                target_crn: crn:v1:bluemix:public:resource-catalog::a/9e16d1fed8aa7e1bd73e7a9d23434a5a::deployment:2fdf0c08-2d32-4f46-84b5-32e0c92fffd8%3Aglobal
                crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                state: active
                type: service_instance
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                dashboard_url: /objectstorage/crn%3Av1%3Abluemix%3Apublic%3Acloud-object-storage%3Aglobal%3Aa%2F4329073d16d2f3663f74bfa955259139%3A8d7af921-b136-4078-9666-081bd8470d94%3A%3A
                last_operation: null
                resource_aliases_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_aliases
                resource_bindings_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_bindings
                resource_keys_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94/resource_keys
                plan_history:
                - resource_plan_id: 2fdf0c08-2d32-4f46-84b5-32e0c92fffd8
                  start_date: 2018-04-19T00:18:53.302077457Z
                migrated: false
                controlled_by: ""
              schema:
                $ref: '#/components/schemas/ResourceInstance'
          description: Request to update a resource instance has been accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be processed.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Update a resource instance
      tags:
      - Resource Instances
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X PATCH \
                  https://resource-controller.cloud.ibm.com/v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94 \
                  -H 'Authorization: Bearer <>' \
                  -H 'Content-Type: application/json' \
                    -d '{
                    "name": "my-instance-new-binding-1",
                    "resource_plan_id": "744bfc56-d12c-4866-88d5-dac9139e0e5d"
                  }'
  /resource_keys:
    get:
      description: List all resource keys
      operationId: list_resource_keys
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: When you create a new key, a GUID (globally unique identifier)
          is assigned. This is a unique internal GUID managed by Resource controller
          that corresponds to the key.
        explode: true
        in: query
        name: guid
        required: false
        schema:
          type: string
        style: form
      - description: The human-readable name of the key.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The short ID of the resource group.
        explode: true
        in: query
        name: resource_group_id
        required: false
        schema:
          type: string
        style: form
      - description: The unique ID of the offering. This value is provided by and
          stored in the global catalog.
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          type: string
        style: form
      - description: Limit on how many items should be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                rows_count: 1
                next_url: null
                resources:
                - id: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                  guid: 23693f48-aaa2-4079-b0c7-334846eff8d0
                  url: /v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0
                  created_at: 2018-07-02T22:03:43.837979455Z
                  updated_at: 2018-07-02T22:03:43.837979455Z
                  deleted_at: null
                  source_crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  name: my-instance-key-1
                  parameters:
                    role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  crn: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                  state: active
                  account_id: 4329073d16d2f3663f74bfa955259139
                  resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                  resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                  credentials:
                    apikey: XXXX-YYYY-ZZZZ"
                    endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                    iam_apikey_description: 'Auto generated apikey during resource-key
                      operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                    iam_apikey_name: auto-generated-apikey-23693f48-aaa2-4079-b0c7-334846eff8d0
                    iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                    iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-64c29e4f-422d-468c-a11b-1a8f671b5c89
                    resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_compatible: true
                  migrated: false
                  resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                  resource_alias_url: null
              schema:
                $ref: '#/components/schemas/ResourceKeysList'
          description: The list of resource keys was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get a list of resource keys
      tags:
      - Resource Keys
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_keys \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    post:
      description: Create a new resource key.
      operationId: create_resource_key
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceKeyPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                guid: 23693f48-aaa2-4079-b0c7-334846eff8d0
                url: /v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0
                created_at: 2018-07-02T22:03:43.837979455Z
                updated_at: 2018-07-02T22:03:43.837979455Z
                deleted_at: null
                source_crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                name: my-instance-key-1
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                state: active
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                credentials:
                  apikey: XXXX-YYYY-ZZZZ"
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-key
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-23693f48-aaa2-4079-b0c7-334846eff8d0
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-64c29e4f-422d-468c-a11b-1a8f671b5c89
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_alias_url: null
              schema:
                $ref: '#/components/schemas/ResourceKey'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Create a new resource key
      tags:
      - Resource Keys
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X POST \
                  https://resource-controller.cloud.ibm.com/v2/resource_keys \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
                  -H 'Content-Type: application/json' \
                  -d '{
                  "name": "my-instance-key-1",
                  "source": "267bf377-7fa2-43f6-94ec-09103a8e89d4",
                  "role": "Writer"
                }'
  /resource_keys/{id}:
    delete:
      description: Delete a resource key by ID.
      operationId: delete_resource_key
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The request could not be understood due to malformed syntax.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could was previously deleted and is no longer
            available.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Delete a resource key by ID
      tags:
      - Resource Keys
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X DELETE \
                  https://resource-controller.cloud.ibm.com/v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0 \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    get:
      description: Get resource key by ID.
      operationId: get_resource_key
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                guid: 23693f48-aaa2-4079-b0c7-334846eff8d0
                url: /v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0
                created_at: 2018-07-02T22:03:43.837979455Z
                updated_at: 2018-07-02T22:03:43.837979455Z
                deleted_at: null
                source_crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                name: my-instance-key-1
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                state: active
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                credentials:
                  apikey: XXXX-YYYY-ZZZZ
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-key
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-23693f48-aaa2-4079-b0c7-334846eff8d0
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-64c29e4f-422d-468c-a11b-1a8f671b5c89
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_alias_url: null
              schema:
                $ref: '#/components/schemas/ResourceKey'
          description: The resource key was successfully retrieved.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is invalid or authenication of your token
            failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Your access token is valid but does not have the necessary
            permissions to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: The resource could not be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReport'
          description: Too many requests. Please wait a few minutes and try again.
        "500":
          description: Your request could not be processed. Please try again later.
            If the problem persists, note the `transaction-id` in the response header
            and contact [IBM Cloud support](https://watson.service-now.com/wcp).
      summary: Get resource key by ID
      tags:
      - Resource Keys
      x-sdk-operations:
        request-examples:
          curl:
          - name: Example request
            example:
            - type: code
              lang: curl
              source:
              - |-
                curl -X GET \
                  https://resource-controller.cloud.ibm.com/v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0 \
                  -H 'Authorization: Bearer <IAM_TOKEN>' \
    patch:
      description: Update a resource key by ID.
      operationId: update_resource_key
      parameters:
      - description: Authorization value should use the format Bearer [token] - where
          [token] is an opaque access token obtained by authenticating with IAM authentication
          services.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The short or long ID of the key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceKeyPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                guid: 23693f48-aaa2-4079-b0c7-334846eff8d0
                url: /v2/resource_keys/23693f48-aaa2-4079-b0c7-334846eff8d0
                created_at: 2018-07-02T22:03:43.837979455Z
                updated_at: 2018-07-02T22:03:43.837979455Z
                deleted_at: null
                source_crn: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                name: my-instance-new-key-1
                parameters:
                  role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                crn: crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94:resource-key:23693f48-aaa2-4079-b0c7-334846eff8d0
                state: active
                account_id: 4329073d16d2f3663f74bfa955259139
                resource_group_id: 0be5ad401ae913d8ff665d92680664ed
                resource_id: dff97f5c-bc5e-4455-b470-411c3edbe49c
                credentials:
                  apikey: XXXX-YYYY-ZZZZ
                  endpoints: https://cos-service-armada-s.us-south.containers.mybluemix.net/endpoints
                  iam_apikey_description: 'Auto generated apikey during resource-key
                    operation for Instance - crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                  iam_apikey_name: auto-generated-apikey-23693f48-aaa2-4079-b0c7-334846eff8d0
                  iam_role_crn: crn:v1:bluemix:public:iam::::serviceRole:Writer
                  iam_serviceid_crn: crn:v1:bluemix:public:iam-identity::a/4329073d16d2f3663f74bfa955259139::serviceid:ServiceId-64c29e4f-422d-468c-a11b-1a8f671b5c89
                  resource_instance_id: 'crn:v1:bluemix:public:cloud-object-storage:global:a/4329073d16d2f3663f74bfa955259139:8d7af921-b136-4078-9666-081bd8470d94::'
                iam_compatible: true
                migrated: false
                resource_instance_url: /v2/resource_instances/8d7af921-b136-4078-9666-081bd8470d94
                resource_alias_url: null
              schema:
                $ref: '#/components/schemas/ResourceKey'
[...]
